name: Trivy Security Scan

on:
  push:
  pull_request:

jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: aquasecurity/trivy-action@v0.10.0
        with:
          scan-type: "fs"
          severity: "HIGH,CRITICAL"
          ignore-unfixed: true
